@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

/*#0f0f0f 2c2c2c  #212121*/
body {
    background: #181818;
}

img {
    width: 100%;
}

#max-wid {
    padding: 0 30px;
    max-width: 500px;
    margin: 0 auto;
}

#logo-img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    
}

#logo-img #img-logo {
    padding: 5px 10px 10px 10px;
    margin: 0 auto;
    background: #212121;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#title {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

#title h1 {
    font-size: 16px;
    font-weight: 700;
}

#title p {
    margin-top: 5px;
    font-size: 14px;
    color: #fcbd2e;
    font-weight: 600;
    padding: 0 20px;
}

#list-btns {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 40px;
}

#list-btns li {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    background: transparent;
    cursor: pointer;
}

#list-btns li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcbd2e;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: #2c2c2c;
    text-align: center;
    font-size: 14px;
}

#list-btns li a ion-icon {
    margin-right: 12px;
    font-size: 20px;
}

#ico-den a {
    color: #fff !important;
}


#ico-ads a {
    color: #fff !important;
}